*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
.container{
    background-color:azure;
    width:400px;
    padding:20px;
    margin:5px;
    border-radius:0 4px 8px rgba(0,0,0,.3)
}
.textarea{
    resize:none;
    width: 100%;
    height: 100px;
    padding:10px;
}
.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.total-counter{
    color:slateblue;
}
.remaining-counter{
    color:rgb(142, 35, 35);
}