*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:antiquewhite;
    font-family:sans-serif;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
     position: relative;
}

.clock span{
    width:100px;
    height:80px;
    background-color:slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 40px black;
    
}
.clock .text{
    height:30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background:darkblue;
    opacity: .8;
   
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width:60px;
    height:30px;
    font-size: 20px;
    background-color: green;
}